{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <form action="/changePassword" method="post">
        <div class="form-group">
            <input class="form-control" name="password" placeholder="New password" type="password"/>
        </div>
        <div class="form-group">
            <input class="form-control" name="confirmation" placeholder="New Password (again)" type="password"/>
        </div>

        <button class="btn btn-primary" type="submit">Log In</button>
    </form>
{% endblock %}