{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>TOTAL</th>
            </tr>
        </thead>

        <tbody>
            {% for stock in stocks %}
            <tr>
                <td> {{ stock["symbol"].upper() }} </td>
                <td> {{ stock["name"] }} </td>
                <td> {{ stock["totalShares"] }} </td>
                <td> {{ stock["price"] | usd}}</td>
                <td> {{ usd(stock["totalShares"] * stock["price"]) }}  </td>
            </tr>

            {% endfor %}

            <tr>
                <td><strong>CASH</strong></td>
                <td colspan="3"></td>
                <td>{{ cash | usd}}</td>
            </tr>
        </tbody>
        <tfoot>
            <td><strong>Total</strong></td>
            <td colspan="3"></td>
            <td>{{ usd(total) }}</td>
        </tfoot>
    </table>
{% endblock %}